@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #DC2626;
  --color-primary-dull: #B91C1C;
  --color-beige: #F5F5DC;
  --color-beige-dark: #D4C5A9;
}

* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #DC2626 #2C2416;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: #1A1410;

}

.no-scrollbar {
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}